# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.zip
*.tar
*.tar.gz

# Model checkpoints
*.pt
*.pth
*.ckpt
checkpoints/

# Experiment outputs
outputs/
runs/
wandb/
mlruns/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem*.png
